downlaods/edX_course_python/folder/farewelll.py
downlaods/edX_course_python/folder/farewell.py
Códigos Python do curso em vídeo/curso em video/virus.py
Códigos Python do curso em vídeo/curso em video/uyhvgbhb.py
Códigos Python do curso em vídeo/curso em video/ransowe.py
Códigos Python do curso em vídeo/curso em video/oi.py
Códigos Python do curso em vídeo/curso em video/o.py
Códigos Python do curso em vídeo/curso em video/mundo 02 dicaseregras.py
